.titulo{
    text-align: center;
    margin-bottom: 20px;
}
.fundo {
    background-color: bisque;
}

.pai{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.input{

    margin-bottom: 20px;
    margin-top: 20px;
    color: #9e0d0d;
    height: 5px;
    border-radius: 5px;
}